<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <!--        <h1><a [routerLink]="['/admin/business-setup-dashboard']"><i class="fa fa-arrow-left"></i></a> Address Setup</h1>-->
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item active"><a [routerLink]="['/admin/business-setup-dashboard']">Identifier</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="card card-info card-tabs">
          <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
              <li class="pt-2 px-3"><h3 class="card-title">Identifier</h3></li>
              <li class="nav-item">
                <a class="nav-link active"
                   data-toggle="pill" href="#identifier" role="tab"
                   aria-controls="custom-tabs-two-home" aria-selected="true">Identifier</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   data-toggle="pill" href="#identifier-type"
                   role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Identifier Type</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   data-toggle="pill" href="#identifier-use"
                   role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Identifier Use</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
              <div class="tab-pane fade show active" id="identifier"
                   role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                <div class="row">
                  <div class="card-body table-responsive p-0" style="height: 500px;">
                    <table class="table table-bordered table-head-fixed text-nowrap">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Use</th>
                        <th>Type</th>
                        <th>Period</th>
                        <th>System</th>
                        <th>Value</th>
                        <th style="width: 100px"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let identifier of identifierList; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{identifier?.identifierUse?.code}}</td>
                        <td>{{identifier?.identifierUse?.code}}</td>
                        <td>{{identifier?.period?.startDate}}</td>
                        <td>{{identifier?.system}}</td>
                        <td>{{identifier?.value}}</td>
                        <td>
                            <span class="btn-group btn-group-sm btn-info">
                              <a class="btn btn-group-sm btn-success" title="View">
                                <i class="fa fa-eye"></i>
                              </a>
                              <a class="btn btn-group-sm btn-info" title="Edit">
                                <i class="fa fa-edit"></i>
                              </a>
                              <a class="btn btn-group-sm btn-danger" title="Delete">
                                <i class="fa fa-trash"></i>
                              </a>
                            </span>

                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="fab" data-toggle="modal" data-target="#create-identifier" title="Add"> + </div>
                </div>
              </div>
              <div class="tab-pane fade" id="identifier-type" role="tabpanel"
                   aria-labelledby="custom-tabs-two-profile-tab">
                <div class="row">
                  <div class="card-body table-responsive p-0" style="height: 500px;">
                    <table class="table table-bordered table-head-fixed text-nowrap">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Display</th>
                        <th style="width: 100px"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let type of identifierTypeList; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{type?.code}}</td>
                        <td>{{type?.display}}</td>
                        <td>
                            <span class="btn-group btn-group-sm btn-info">
                              <a class="btn btn-group-sm btn-success" title="View">
                                <i class="fa fa-eye"></i>
                              </a>
                              <a class="btn btn-group-sm btn-info" title="Edit">
                                <i class="fa fa-edit"></i>
                              </a>
                              <a class="btn btn-group-sm btn-danger" title="Delete">
                                <i class="fa fa-trash"></i>
                              </a>
                            </span>

                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="fab" data-toggle="modal" data-target="#create-identifier-type" title="Add"> + </div>
                </div>
              </div>
              <div class="tab-pane fade" id="identifier-use" role="tabpanel"
                   aria-labelledby="custom-tabs-two-profile-tab">
                <div class="row">
                  <div class="card-body table-responsive p-0" style="height: 500px;">
                    <table class="table table-bordered table-head-fixed text-nowrap">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Display</th>
<!--                        <th>Definition</th>-->
                        <th style="width: 100px"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let use of identifierUseList; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{use?.code}}</td>
                        <td>{{use?.display}}</td>
<!--                        <td>{{use?.definition}}</td>-->
                        <td>
                            <span class="btn-group btn-group-sm btn-info">
                              <a class="btn btn-group-sm btn-success" title="View">
                                <i class="fa fa-eye"></i>
                              </a>
                              <a class="btn btn-group-sm btn-info" title="Edit">
                                <i class="fa fa-edit"></i>
                              </a>
                              <a class="btn btn-group-sm btn-danger" title="Delete">
                                <i class="fa fa-trash"></i>
                              </a>
                            </span>

                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="fab" data-toggle="modal" data-target="#create-identifier-use" title="Add"> + </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--create-identifier-->
  <div class="modal fade" id="create-identifier">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header card-info">
          <h4 class="modal-title">Create Identifier</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Identifier Type</label>
                <ng-select (change)="onTypeCodeChange($event)">
                  <ng-option *ngFor="let code of identifierTypeList" [value]="code">
                    Code: {{code?.code}} Display: {{code?.display}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Identifier Use</label>
                <ng-select (change)="onUseCodeChange($event)">
                  <ng-option *ngFor="let code of identifierUseList" [value]="code">
                    Code: {{code?.code}} Display: {{code?.display}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Period Start Date</label>
                <input [(ngModel)]="newIdentifierPeriod.startDate" type="date" class="form-control"
                      >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Period End Date</label>
                <input [(ngModel)]="newIdentifierPeriod.endDate" type="date" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>System</label>
                <input [(ngModel)]="newIdentifier.system" type="text" class="form-control"
                       placeholder="Enter System">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Value</label>
                <input [(ngModel)]="newIdentifier.value" type="text" class="form-control"
                       placeholder="Enter Value">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!--create-identifier-type-->
  <div class="modal fade" id="create-identifier-type">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header card-info">
          <h4 class="modal-title">Create Identifier Type</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Code</label>
                <input [(ngModel)]="newIdentifierType.code" type="text" class="form-control" placeholder="Enter Code">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Display</label>
                <input [(ngModel)]="newIdentifierType.display" type="text" class="form-control"
                       placeholder="Enter Display">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!--create-identifier-use-->
  <div class="modal fade" id="create-identifier-use">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header card-info">
          <h4 class="modal-title">Create Identifier Use</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Code</label>
                <input [(ngModel)]="newIdentifierUse.code" type="text" class="form-control" placeholder="Enter Code">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Display</label>
                <input [(ngModel)]="newIdentifierUse.display" type="text" class="form-control"
                       placeholder="Enter Display">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Definition</label>
                <input [(ngModel)]="newIdentifierUse.definition" type="text" class="form-control"
                       placeholder="Enter Definition">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
