<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><a [routerLink]="['/admin/business-setup-dashboard']"><i class="fa fa-arrow-left"></i></a> Setup business details</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item active"><a [routerLink]="['/admin/business-setup-dashboard']">Setup business details</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
<!--  first row-->
  <div class="row">
    <!--business information-->
    <div class="col-md-6">
      <div class="container-fluid">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Business Information</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Trading Title <i class="fa fa-asterisk text-red"
                                          *ngIf="newBusiness.tradingTitle === '' || newBusiness.tradingTitle === null"></i></label>
                  <input type="text" class="form-control" [(ngModel)]="newBusiness.tradingTitle"
                         placeholder="Trading Title" required>
                </div>
              </div>
              <div class="col-md-6">
                <label>Registration Number</label>
                <input type="text" class="form-control" [(ngModel)]="newBusiness.registrationNumber"
                       placeholder="Registration Number" required>
              </div>
            </div>
            <!--first row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Name <i class="fa fa-asterisk text-red"
                   *ngIf="newBusiness.name === '' || newBusiness.name === null"></i></label>
                  <input type="text" class="form-control" [(ngModel)]="newBusiness.name"
                         placeholder="Business Name" required>
                </div>
              </div>
              <div class="col-md-6">
                <label>Status</label>
                <div class="form-group">
                  <div class="form-check">
                    <input (change)="toggleBusinessStatus($event)" [(ngModel)]="newBusiness.active" class="form-check-input"
                           type="checkbox"  checked>
                    <label class="form-check-label">Active</label>
                  </div>
                </div>
              </div>
            </div>
            <!--second row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.addresText"
                         placeholder="Address">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address Line 1</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.addressLine1"
                         placeholder="Address Line 1">
                </div>
              </div>
            </div>
            <!--third row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label >Address Line 2</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.addressLine2"
                         placeholder="Address Line 2">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address Line 3</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.addressLine3"
                         placeholder="Address Line 3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label >Address Type</label>
                  <ng-select (change)="onOrganisationAddressCodeChange($event)">
                    <ng-option *ngFor="let type of addressTypeList" [value]="type">
                      {{type?.display}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label >Address Use</label>
                  <ng-select (change)="onOrganisationAddressUseCodeChange($event)">
                    <ng-option *ngFor="let use of addressUseList" [value]="use">
                      {{use?.display}}</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address State</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.address_state"
                         placeholder="Address State">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>District</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.district"
                         placeholder="District">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.city"
                         placeholder="City">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.country"
                         placeholder="Country">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Period Start Date</label>
                  <input type="date" class="form-control" [(ngModel)]="newAddressPeriod.startDate"
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Period End Date</label>
                  <input type="date" class="form-control" [(ngModel)]="newAddressPeriod.endDate"
                         >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="text" class="form-control" [(ngModel)]="newAddress.postalCode"
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Alias</label>
                  <input type="text" class="form-control" [(ngModel)]="newBusiness.alias"
                  placeholder="Alias">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--contact information-->
    <div class="col-md-6">
      <div class="container-fluid">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Contact Information</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Human Name</label>
                  <input type="text" class="form-control"
                         placeholder="Human Name" [(ngModel)]="newContact.humanName">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>End Point</label>
                  <input type="text" class="form-control"
                         placeholder="End Point" [(ngModel)]="newContact.endPoint">
                </div>
              </div>
            </div>
            <!--first row-->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    <div class="form-check">
                      <input (change)="toggleContactAddress($event)" [(ngModel)]="businessAddressIsContactAddress" class="form-check-input"
                             type="checkbox">
                      <label class="form-check-label">Business address is same as contact address</label>
                    </div>
                </div>
              </div>
            </div>
            <!--second row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" [(ngModel)]="newContactAddress.addresText"
                         placeholder="Address">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label >Address Line 1</label>
                  <input type="text" class="form-control" [(ngModel)]="newContactAddress.addressLine1"
                         placeholder="Address Line 1">
                </div>
              </div>
            </div>
            <!--third row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label >Address Line 2</label>
                  <input type="text" class="form-control" [(ngModel)]="newContactAddress.addressLine2"
                         placeholder="Address Line 2">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address Line 3</label>
                  <input type="text" class="form-control" [(ngModel)]="newContactAddress.addressLine3"
                         placeholder="Address Line 3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label >Address Type</label>
                  <ng-select (change)="onOrganisationAddressCodeChange($event)">
                    <ng-option *ngFor="let type of addressTypeList" [value]="type">
                      {{type?.display}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label >Address Use</label>
                  <ng-select (change)="onOrganisationAddressUseCodeChange($event)">
                    <ng-option *ngFor="let use of addressUseList" [value]="use">
                      {{use?.display}}</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address State</label>
                  <input type="text" class="form-control" [(ngModel)]="newContactAddress.address_state"
                         placeholder="Address State">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>District</label>
                  <input type="text" class="form-control" [(ngModel)]="newContactAddress.district"
                         placeholder="District">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label >City</label>
                  <input type="text" class="form-control" [(ngModel)]="newContactAddress.city"
                         placeholder="City">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" [(ngModel)]="newContactAddress.country"
                  placeholder="Country">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Period Start Date</label>
                  <input type="date" class="form-control"
                  [(ngModel)]="newContactAddressPeriod.startDate">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Period End Date</label>
                  <input type="date" class="form-control" [(ngModel)]="newContactAddressPeriod.endDate">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="text" class="form-control"
                         [(ngModel)]="newContactAddress.postalCode" placeholder="Postal Code">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  second row-->
  <div class="row">
  <!--organisation information-->
  <div class="col-md-6">
    <div class="container-fluid">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Organisation Information</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <!--first row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Identifier Type</label>
                <ng-select (change)="onOrganisationAddressCodeChange($event)">
                  <ng-option *ngFor="let type of identifierTypeList" [value]="type">
                    {{type?.display}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <label>Identifier Use</label>
              <div class="form-group">
                <ng-select (change)="onOrganisationAddressCodeChange($event)">
                  <ng-option *ngFor="let use of identifierUseList" [value]="use">
                    {{use?.display}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <!--second row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Identifier</label>
                <input type="text" class="form-control"
                       placeholder="Identifier">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label >System</label>
                <input type="text" class="form-control" [(ngModel)]="newIdentifier.system"
                       placeholder="System">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Identifier Start Date</label>
                <input type="date" class="form-control" [(ngModel)]="newAddressPeriod.startDate"
                       placeholder="Identifier Period">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label >Identifier End Date</label>
                <input type="date" class="form-control" [(ngModel)]="newIdentifierPeriod.endDate"
                       >
              </div>
            </div>
          </div>
          <!--third row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Value</label>
                <input type="text" class="form-control" [(ngModel)]="newIdentifier.value"
                       placeholder="Value">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Organisation Type</label>
                <ng-select (change)="onOrganisationAddressCodeChange($event)">
                  <ng-option *ngFor="let type of organisationTypeList" [value]="type">
                    {{type?.display}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Organisation</label>
                <input type="text" class="form-control" [(ngModel)]="newOrganisationType.display"
                       placeholder="Organisation">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--telecom information-->
  <div class="col-md-6">
    <div class="container-fluid">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Telecom Information</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Telecom Rank</label>
                <input type="text" class="form-control" [(ngModel)]="newTelecom.rank"
                       placeholder="Telecom Rank">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Telecom Value</label>
                <input type="text" class="form-control" [(ngModel)]="newTelecom.value"
                       placeholder="Telecom Value">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Telecom System Code</label>
                <input type="text" class="form-control" [(ngModel)]="newTelecomSystem.code"
                       placeholder="Telecom System Code">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Telecom System Name</label>
                <input type="text" class="form-control" [(ngModel)]="newTelecomSystem.name"
                       placeholder="Telecom System Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Telecom Start Date</label>
                <input type="date" class="form-control" [(ngModel)]="newTelecomPeriod.startDate"
                       placeholder="Telecom Start Period">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Telecom End Date</label>
                <input type="date" class="form-control" [(ngModel)]="newTelecomPeriod.endDate"
                       placeholder="Telecom End Date">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="card-footer col-md-12">
      <button type="submit" class="btn btn-info float-lg-right" (click)="createOrganisation()">Create Organisation</button>
    </div>
  </div>
</section>
